<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>货物进销管理系统</title>
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <strong>仓库管理</strong>
        <small>货物进销管理系统</small>
    </div>
</header>
<!--  -->
<div class="am-cf admin-main">
    <!--左侧导航栏-->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="/index"><span class="am-icon-home"></span> 首页</a></li>
                <li><a href="/repertory/all"><span class="am-icon-table"></span> 仓库管理</a></li>
                <li><a href="/goods/all"><span class="am-icon-table"></span> 商品管理</a></li>
            </ul>


        </div>
    </div>
    <!--右侧正文-->
    <div class="admin-content">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">仓库地址表</strong><small>Tables</small>
            </div>
        </div>
        <hr>
        <div class="am-u-sm-12 am-u-md-6">
            <form th:action="@{/repertory/query?condition=}" th:method="GET">
                <input th:name="condition" th:type="text" th:placeholder="请输入关键字">
                <button type="submit" class="am-btn am-btn-default">条件查询</button>
            </form>
        </div>
        <div class="am-u-sm-12 am-u-md-6">
            <form action="#" th:action="@{/repertory/add}" th:method="POST">
                <input th:type="text" th:name="rname" name="rname" th:placeholder="仓库名称"/>
                <input th:type="text" th:name="raddress" name="raddress" th:placeholder="仓库地址"/>
                <button type="submit" class="am-btn am-btn-default">新增仓库</button>
            </form>
        </div>
        <table class="am-table am-table-striped am-table-hover table-main">
            <tr>
                <th>仓库编号</th>
                <th>仓库名称</th>
                <th>仓库地址</th>
                <th>操作</th>
            </tr>
            <tr th:each="repertory : ${repertories.list}">
                <td th:text="${repertory.rid}"></td>
                <td th:text="${repertory.rname}"></td>
                <td th:text="${repertory.raddress}"></td>
                <td>
                    <p>
                        <button th:onclick="'javascript:showBox('+${repertory.rid}+')'" class="am-btn am-btn-default">
                            修改
                        </button>
                    </p>
                    <form action="#" th:action="@{/repertory/update?rid=}+${repertory.rid}" th:method="POST">
                        <p><input th:type="text" style="display: none" th:id="'name'+${repertory.rid}"
                                  th:name="newrname" th:placeholder="新的名字"/></p>
                        <p><input th:type="text" style="display: none" th:id="'address'+${repertory.rid}"
                                  th:name="newraddress" th:placeholder="新的地址"/></p>
                        <p>
                            <button th:type="submit" style="display: none" th:id="'button'+${repertory.rid}"
                                    class="am-btn am-btn-default">确认修改
                            </button>
                        </p>
                    </form>
                </td>
            </tr>
        </table>
        <div class="am-u-sm-12 am-u-md-6">
            <button th:if="${repertories.hasPreviousPage}" class="am-btn am-btn-default"><a
                    th:href="@{'/repertory/'+${type}+'pageNum='+${repertories.prePage}}"
                    aria-label="Previous"> &nbsp;上一页
            </a></button>

            <th:block th:each="nav : ${repertories.navigatepageNums}">
                    <span th:class="${nav==repertories.pageNum}?'active':''"><a
                            th:href="@{'/repertory/'+${type}+'pageNum='+${nav}}"
                            th:text="${nav}"></a></span>
            </th:block>

            <button th:block th:if="${repertories.hasNextPage}" class="am-btn am-btn-default">
                <a th:href="@{'/repertory/'+${type}+'pageNum='+${repertories.nextPage}}"
                        aria-label="Next"> 下一页&nbsp;<i class="fa fa-angle-right"></i>
                </a></button>

            <span th:text="'共'+${repertories.pages}+'页'"></span>
        </div>
        <hr>
    </div>
</div>
<script src="/static/jquery-3.3.1.min.js" th:src="@{/jquery-3.3.1.min.js}"></script>
<script th:inline="javascript">
    function showBox(rid) {
        $("#name" + rid).toggle();
        $("#address" + rid).toggle();
        $("#button" + rid).toggle();
    }
</script>
</body>
</html>